body {
  background-image: url(../Saved\ Pictures/newback.jpg);
}
body h2 {
  color: blueviolet;
  font-size: 30px;
  background-color: gold;
}
.forminfo {
  background-color: aliceblue;
}
.forminfo button {
  float: right;
  background-color: darkorange;
}
.forminfo label {
  display: inline-block;
  width: 110px;
}

.forminfo input {
  padding: 5px 10px;
}
